
.classes{
	padding:80px 0px 50px;
	background-color: #ffffff;
}

.classes .content{
	-webkit-display: flex;
	display: flex;
}

.classes .content .box{
	padding:15px;
	flex:0 0 50%;
	max-width: 50%;
}

.classes .content .img img{
	width: 100%;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.classes .content .text h2{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.classes .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open Sans', sans-serif;
}


.classes .content .class-items .item{
	margin-bottom: 30px;
	display: flex;
}
.classes .content .class-items .item:nth-child(1){
 background-color: #222222;
}
.classes .content .class-items .item:nth-child(2){
 background-color: #c11325;
}
.classes .content .class-items .item .item-text{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.classes .content .class-items .item .item-text,
.classes .content .class-items .item .item-img{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
}

.classes .content .class-items .item .item-img img{
 width: 100%;
 display: block;
}
.classes .content .class-items .item .item-img .price{
	position: absolute;
	height: 50px;
	width: 60px;
	font-size:20px;
	font-weight: 500; 
	color:#ffffff;
	text-align: center;
	line-height: 50px;
}
.classes .content .class-items .item:nth-child(1) .item-img .price{
 background-color: #c11325;
 left:0;
 top:0;
}
.classes .content .class-items .item:nth-child(2) .item-img .price{
 background-color: #222222;
 right:0;
 top:0;
}
.classes .content .class-items .item .item-text h4{
	font-size: 20px;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    text-align: left;
}

.classes .content .class-items .item .item-text p{
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align:left;
    margin: 0;
    padding:0 0 20px;
    font-family: 'Open Sans', sans-serif;
}
.classes .content .class-items .item .item-text a{
 font-size: 16px;
 text-decoration: none;
 display: inline-block;
}

.classes .content .class-items .item .item-text a{
	color:#ffffff;
}

@media(max-width: 991px){
.classes .content{
		flex-wrap: wrap;
	}
.classes .content .box {
		flex: 0 0 100%;
		max-width: 100%;
}
.classes .content .img{
	display: none;
}
}

@media(max-width: 767px){
	.classes .content .class-items .item{
		flex-wrap: wrap;
	 }
	 .classes .content .class-items .item .item-text, 
	 .classes .content .class-items .item .item-img {
			flex: 0 0 100%;
			max-width: 100%;
	 }
}
